


    <body>
        <div id="showcompany">
            <div style="float:right; justify-content:space-between;">
                <input type="text" name="name" value="" id="search-text" class="form-control" />
                <br />
                <button id="search-button" type="submit" class="btn alert-success">Search</button>
            </div>
        </div>
      <br/>
    </body>



