
    <body>
        <div id="showitems">
            <div style="float:right; justify-content:space-between;">
                <input type="text" name="name" value="" id="search-company-text" class="form-control" placeholder="Search company" />
                <br />
                <button id="search-company-button" type="submit" class="btn alert-success">Search</button>
            </div>

            <div style="float:left; justify-content:space-between;">
                <input type="text" name="name" value="" id="search-office-text" class="form-control" placeholder="Search Offices" />
                <br />
                <button id="search-office-button" type="submit" class="btn alert-success">Search</button>
            </div>
        </div>
 
    </body>



