
<body>
    <div id="showitems" style=" width: 100%;">
        <div style="display: block; margin-left: 20px; margin-right: 25px; float: right; justify-content: space-between;">
            <input type="text" name="name" value="" id="search-company-text" class="form-control" placeholder="Search company" />
            <br />
            <button id="search-company-button" type="submit" class="btn alert-success">Search</button>
        </div>

        <div style="display: block; margin-left: 200px; margin-right:200px; float:right; justify-content:space-between;">
            <input type="text" name="name" value="" id="search-employee-text" class="form-control" placeholder="Search Employee" />
            <br />
            <button id="search-employee-button" type="submit" class="btn alert-success">Search</button>
        </div>

        <div style=" display: block;
        float: left;
        justify-content: space-between;">
            <input type="text" name="name" value="" id="search-office-text" class="form-control" placeholder="Search Office" />
            <br />
            <button id="search-office-button" type="submit" class="btn alert-success">Search</button>
        </div>
    </div>

</body>



