@model CompanyDto

<link href="~/css/site.css" rel="stylesheet" />
<body>
    <div id="showitems" style=" width: 100%;">
        <div class="searchcompany" style="float: right">
            <input type="text" name="name" value="" id="search-text" class="form-control" placeholder="Search" />
            <form>
                <label><input type="checkbox" id="search-company-button" value="Company"> <span>Company</span></label>
                <br />
                <label><input  type="checkbox" id="search-office-button" value="Office"> <span>Office</span></label>
                <br />
                <label><input  type="checkbox" id="search-employee-button" value="Employee"> <span>Employee</span></label>
            </form>
        </div>
    </div>

</body>





