@model MessageViewModel
@{
    ViewData["Title"] = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body>
        <div class="container">
            <div class="row">
                <strong>
                    @{
                        if (Model.IsSuccess)
                        {
                            <a class="goback" asp-controller="Home" asp-action="Index">Home</a>
                        }
                        else
                        {
                            <a class="goback" href="javascript:history.go(-1)" title="Go to previous page">Go back</a>
                        }
                    }
                </strong>
            </div>
        </div>
    </body>

